@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: auto;
}

.header{
    width: 90vw;
    height: 70px;
    margin: 0% auto;
    color: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #000;
}

.lefthdr{
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-blog{
    max-width: 350px;
    height: auto;
}

.centerhdr{
    margin-left: auto;
    padding-right: 10px;
}

.centerhdr a{
    padding: 8px;
    text-transform: uppercase;
    font-size: 13px;
    color: #000;
    font-weight: 600;
}

.nlinks{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.nlinks:hover{
    color: rgb(109, 109, 109);
}

.righthdr{
    display: flex;
    align-items: center;
    justify-content: center;
}

.righthdr button{
    text-transform: uppercase;
    font-size: 13px;
}

.log-in a{
    padding: 12px;
    text-transform: uppercase;
    font-size: 13px;
    color: #1955a5;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-sign-up{
    padding: 3px 8px;
    cursor: pointer;
    font-size: 13px;
    height: 28px;
    font-weight: 600;
    min-width: 30px;
    background-color: white;
    color: #1955a5;
    border: 1px solid #1955a5;
}

.btn-sign-up:hover{
    border: 1px solid #3d73d5;
    background-color: #3d73d5;
    color: white;
}

.btn-resume{
    padding: 3px 8px;
    cursor: pointer;
    font-size: 13px;
    height: 28px;
    font-weight: 600;
    min-width: 30px;
    background-color: white;
    color: #1955a5;
    border: 1px solid #1955a5;
    margin-left: 10px;
}

.btn-resume:hover{
    border: 1px solid #3d73d5;
    background-color: #3d73d5;
    color: white;
}

.btn-search{
    cursor: pointer;
    height: 36px;
    min-width: 36px;
    color: #000;
    background-color: white;
    border: none;
    margin-left: 10px;
}

.btn-search:hover{
    color: rgb(109, 109, 109);
}

.btn-sections{
    cursor: pointer;
    height: 36px;
    min-width: 36px;
    color: #000;
    background-color: white;
    border: none;
}

.btn-sections:hover{
    color: rgb(109, 109, 109);
}

.btn:hover{
    border: 1px solid white;
}

.btn-donate{
    padding: 3px 8px;
    background-color: #1955a5;
    border: 1px solid #3d73d5;
    cursor: pointer;
    font-size: 13px;
    height: 28px;
    font-weight: 550;
    min-width: 30px;
    color: #fafafa;
    margin-left: 10px;
}

.btn-donate:hover{
    background-color: #3d73d5;
}